body{
    background-image:url(https://images.pexels.com/photos/1087727/pexels-photo-1087727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;   
    color: #ffffff; 
}


.main1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 250px;
    background-color: rgba(2, 8, 4, 0.422);
    border-radius: 10px;
    font-weight: bold;
    
}
.main1p{
    padding-top: 40px;
    width: 500px;
    padding-left: 40px;
}
#login input{
    height: 20px;
    width: 200px;
}
#login button{
    width: 200px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
}
#navbarall{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
#navbar nav ul li{
    text-transform: uppercase;
    padding: 20px;
    font-size: 12px;
    list-style: none;
}
#navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar a{
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: 300ms;
}
#navbar a:hover{
    color:#ed920b;
}



#search{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search input{
    width: 150px;
    height: 20px;
}

#shopanimelist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    gap: 100px;
}

svg{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 300ms;
    cursor: pointer;
}
svg:hover{
    transform: scale(1.1) translateY(5%);
}
